<main class="container py-5">
	<div class="d-flex justify-content-between">
		<h1>Restaurante Panela Cheia</h1>

		<mat-icon *ngIf="!showActionBar" aria-hidden="false" aria-label="Exibir botões de ação" fontIcon="visibility" class="ms-auto btn-action" (click)="toggleActionBar()"></mat-icon>
		<mat-icon *ngIf="showActionBar" aria-hidden="false" aria-label="Ocultar botões de ação" fontIcon="visibility_off" class="ms-auto btn-action" (click)="toggleActionBar()"></mat-icon>
	</div>
	<span class="display-5">Resumo {{ referenceDateTitle }}</span>
	<div class="py-2"></div>

	<!-- Ações do aplicativo -->
	<div *ngIf="showActionBar" class="my-3 d-flex flex-column flex-lg-row justify-content-lg-between">

		<div>
			<form *ngIf="!referenceDateTitle" [formGroup]="form">
				<mat-form-field class="w-100">
					<mat-label>Escolha uma data</mat-label>
					<input matInput formControlName="referenceDate" [matDatepicker]="picker">
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</form>
		</div>

		<div class="d-flex flex-column-reverse flex-lg-row">
			<button mat-button color="warn" type="button" class="mt-2 me-lg-2" (click)="resetResume()">Limpar resumo</button>
			<button mat-raised-button color="warn" type="button" class="mt-2 me-lg-2" (click)="redirect('/expense')">Cadastrar nova despesa</button>
			<button mat-raised-button color="primary" type="button" class="mt-2" (click)="redirect('/create')">Cadastrar nova comanda</button>
		</div>

	</div>

	<span class="display-6 mb-1">Totais</span>
	<div>
		<h4>Refeições</h4>
		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Débito</span>
			<span>{{ formatMoney(sumValue.refeicao.debit) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Crédito</span>
			<span>{{ formatMoney(sumValue.refeicao.credit) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Pix</span>
			<span>{{ formatMoney(sumValue.refeicao.pix) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Dinheiro</span>
			<span>{{ formatMoney(sumValue.refeicao.money) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center">
			<span>Benefício</span>
			<span>{{ formatMoney(sumValue.refeicao.benefit) }}</span>
		</div>
	</div>

	<hr>

	<div class="my-3">
		<h4>Marmitas</h4>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Débito</span>
			<span>{{ formatMoney(sumValue.marmita.debit) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Crédito</span>
			<span>{{ formatMoney(sumValue.marmita.credit) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Pix</span>
			<span>{{ formatMoney(sumValue.marmita.pix) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Dinheiro</span>
			<span>{{ formatMoney(sumValue.marmita.money) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center">
			<span>Benefício</span>
			<span>{{ formatMoney(sumValue.marmita.benefit) }}</span>
		</div>
	</div>

	<div>
		<h4 class="mb-0">Total de marmitas</h4>
		<span class="display-6">{{ formatMoney(sumValue.marmitaTotal) }}</span>

		<h4 class="mb-0 mt-2">Total de refeições</h4>
		<span class="display-6">{{ formatMoney(sumValue.refeicaoTotal) }}</span>

		<h4 class="mb-0 mt-2">Total geral</h4>
		<span class="display-6">{{ formatMoney(sumValue.generalTotal) }}</span>
	</div>


	<hr>

	<div class="my-3">
		<h4 class="text-danger">Despesas</h4>
		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Débito</span>
			<span>{{ formatMoney(sumValue.expenses.debit) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Crédito</span>
			<span>{{ formatMoney(sumValue.expenses.credit) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Pix</span>
			<span>{{ formatMoney(sumValue.expenses.pix) }}</span>
		</div>

		<div class="d-flex justify-content-between align-items-center border-bottom">
			<span>Dinheiro</span>
			<span>{{ formatMoney(sumValue.expenses.money) }}</span>
		</div>
	</div>

	<div>
		<h4 class="mb-0">Total de despesas</h4>
		<span class="display-6 text-danger">{{ formatMoney(sumValue.expensesTotal) }}</span>
	</div>




	<hr>

	<h4 class="mb-0">Controle de comandas do tipo: <b>REFEIÇÃO</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.refeicao.numbers" class="col">{{ command }}</div>
	</div>


	<h4 class="mb-0">Controle de comandas do tipo: <b>MARMITA</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.marmita.numbers" class="col">{{ command }}</div>
	</div>

	<h4 class="mb-1">Primeiro número da sequência de comandas do tipo: <b>REFEIÇÃO - <span class="text-success">{{ commands.refeicao.first.toString() == 'Infinity' || commands.refeicao.first.toString() == '-Infinity' ? 0 : commands.refeicao.first }}</span></b></h4>
	<h4 class="mb-3">ùltimo número da sequência de comandas do tipo: <b>REFEIÇÃO - <span class="text-success">{{ commands.refeicao.last.toString() == 'Infinity' || commands.refeicao.last.toString() == '-Infinity' ? 0 : commands.refeicao.last }}</span></b></h4>

	<h4 class="mb-1">Primeiro número da sequência de comandas do tipo: <b>MARMITA - <span class="text-success">{{ commands.marmita.first.toString() == 'Infinity' || commands.marmita.first.toString() == '-Infinity' ? 0 : commands.marmita.first }}</span></b></h4>
	<h4 class="mb-3">ùltimo número da sequência de comandas do tipo: <b>MARMITA - <span class="text-success">{{ commands.marmita.last.toString() == 'Infinity' || commands.marmita.last.toString() == '-Infinity' ? 0 : commands.marmita.last }}</span></b></h4>

	<hr>

	<h4 class="mb-0">Comandas faltantes do tipo: <b>REFEIÇÃO</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.refeicao.lostCommands" class="col text-danger">{{ command }}</div>
	</div>

	<h4 class="mb-0">Comandas faltantes do tipo: <b>MARMITAS</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.marmita.lostCommands" class="col text-danger">{{ command }}</div>
	</div>

	<h4 class="mb-0">Comandas agrupadas por forma de pagamento do tipo: <b>REFEIÇÃO</b></h4>
	<h4 class="mb-0">Comandas vendidas no <b>Crédito à vista</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.refeicao.payment.credit" class="col text-danger">{{ command }}</div>
	</div>
	<h4 class="mb-0">Comandas vendidas no <b>Débito</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.refeicao.payment.debit" class="col text-danger">{{ command }}</div>
	</div>
	<h4 class="mb-0">Comandas vendidas no <b>Dinheiro</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.refeicao.payment.money" class="col text-danger">{{ command }}</div>
	</div>
	<h4 class="mb-0">Comandas vendidas no <b>Pix</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.refeicao.payment.pix" class="col text-danger">{{ command }}</div>
	</div>
	<h4 class="mb-0">Comandas vendidas no <b>Benefício (Refeição / Alimentação)</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.refeicao.payment.benefit" class="col text-danger">{{ command }}</div>
	</div>

	<hr>

	<h4 class="mb-0">Comandas agrupadas por forma de pagamento do tipo: <b>MARMITA</b></h4>
	<h4 class="mb-0">Comandas vendidas no <b>Crédito à vista</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.marmita.payment.credit" class="col text-danger">{{ command }}</div>
	</div>
	<h4 class="mb-0">Comandas vendidas no <b>Débito</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.marmita.payment.debit" class="col text-danger">{{ command }}</div>
	</div>
	<h4 class="mb-0">Comandas vendidas no <b>Dinheiro</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.marmita.payment.money" class="col text-danger">{{ command }}</div>
	</div>
	<h4 class="mb-0">Comandas vendidas no <b>Pix</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.marmita.payment.pix" class="col text-danger">{{ command }}</div>
	</div>
	<h4 class="mb-0">Comandas vendidas no <b>Benefício (Refeição / Alimentação)</b></h4>
	<div class="row mb-4">
		<div *ngFor="let command of commands.marmita.payment.benefit" class="col text-danger">{{ command }}</div>
	</div>
</main>
