<main class="container pt-5">
	<h1 class="display-4">Cadastro de nova despesa</h1>
	<p class="text-muted">Fique atento aos campos com (*) pois eles são de preenchimento obrigatório.</p>

	<form [formGroup]="form" (submit)="submit()">

		<section class="row">
			<div class="col-12 col-md-6 col-lg-4">
				<mat-form-field class="form-field w-100" appearance="outline">
					<mat-label>Método de pagamento</mat-label>
					<mat-select formControlName="paymentMethod">
						<mat-option value="debito">Débito</mat-option>
						<mat-option value="credito">Crédito</mat-option>
						<mat-option value="pix">Pix</mat-option>
						<mat-option value="dinheiro">Dinheiro</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div class="col-12 col-md-6">
				<mat-form-field floatLabel="always" class="form-field w-100" appearance="outline">
					<mat-label>Valor</mat-label>
					<input matInput formControlName="amount" type="number" class="example-right-align" placeholder="0">
				</mat-form-field>
			</div>

			<div class="col-12 col-md-6 col-lg-4">
				<mat-form-field class="form-field w-100" appearance="outline">
					<mat-label>Descrição</mat-label>
					<input matInput formControlName="description" [value]="form.get('description').value" />
				</mat-form-field>
			</div>
		</section>

		<div class="mt-2 mt-lg-5 d-flex d-lg-flex flex-column-reverse flex-lg-row justify-content-between">
			<button mat-button type="button" (click)="back()" class="mt-2 mt-lg-0">Voltar</button>

			<div class="d-flex flex-column flex-lg-row">
				<button mat-raised-button color="primary" type="submit">Salvar e sair</button>
				<button mat-raised-button color="primary" type="button" class="mt-2 mt-lg-0 ms-lg-2" (click)="saveAndContinue()">Salvar e continuar</button>
			</div>
		</div>
	</form>
</main>
